# SQLite (فایل محلی، نیازی به تغییر نیست)
DATABASE_URL="file:./dev.db"

# NextAuth.js (برای فاز ۴)
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3001"

# Zarinpal (برای فاز ۶)
ZARINPAL_MERCHANT_ID=""
